/* Link {
    margin: 20px;
} */

#nav-bar {
    background-color: coral;
    height: 4rem;
    opacity: .5;
    font-size: 30px;
}

#nav-bar:hover {
    opacity: 1;
}

#logo {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

#link {
    float: right;
    margin-right: 40px;
    margin-top: 10px;
}